@charset "ISO-8859-1";

body {
    padding: 0px;
    margin: 0px;
}
#banner{
  padding: 0px;
  margin: 0px;
  height: 132px;
  background-color: #99eeff;
  overflow: visible;
}

#banner_text{
  right: 25%;
  left: 25%;
  line-height: 1;
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  overflow: visible;
  font-weight: 700;
  font-family: "Inter-Bold", "Inter", sans-serif;
  color: #545454;
  font-size: 64px;
  text-align: center;
}

#title{
	color:#000000;
	text-align: center;
	font-size: 36px;
	vertical-align: middle;
}

#Product_text{
	color:#000000;
	text-align: center;
	font-size: 18px;
	vertical-align: middle;
}

#help_button {
    width: 88px;
    height: 103px;
    position: absolute;
    right: 0%;
    left:90%;
}

#back_button {
    width: 32px;
    height: 32px;
    position: absolute;
    right: 0%;
    left: 95%;
}

#body{
	display: flex;
}


/* Create two equal columns that floats next to each other */
.left_column {
  float: left;
  width: 35%;
  padding: 10px;
  height: 400px;  /*Should be removed. Only for demonstration */
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
}

.right_column {
  float: left;
  width: 60%;
  padding: 10px;
  height: 700px;  /*Should be removed. Only for demonstration */
  margin-top: 10px;
  margin-left: 30px;
  margin-right: 5px;
  margin-bottom: 10px;
}

/* Clear floats after the columns */
.body:after {
  content: "";
  display: table;
  clear: both;
}

#Graph{
  width: 1376px;
  height: 267px;
  background-color: #44ccff;
  overflow: visible;
}

#Graph_Menu{
  width: 616px;
  height: 965px;
  background-color: #3388ff;
  overflow: visible;
}



