@charset "ISO-8859-1";

.frame{
  width: 2048px;
  height: 132px;
  background-color: #99eeff;
  overflow: visible;
}

.text{
  width: 952px;
  height: 92px;
  overflow: hidden;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-word;
  font-weight: 700;
  font-family: "Inter-Bold", "Inter", sans-serif;
  color: #545454;
  font-size: 64px;
  letter-spacing: 0px;
  line-height: 1;
  text-align: center;
}

.frame2 {
  width: 944px;
  height: 1004px;
  background-color: #44ccff;
  overflow: visible;
}