@charset "ISO-8859-1";

body {
    padding: 0px;
    margin: 0px;
}

#banner{
  padding-right: 5px;
  margin: 0px;
  height: 132px;
  background-color: #99eeff;
  overflow: visible;
}

#banner_text{
  padding: 0px;
  margin: 0px;
  display: inline;
  position: absolute;
  overflow: visible;
  font-weight: 700;
  font-family: "Inter-Bold", "Inter", sans-serif;
  color: #545454;
  font-size: 64px;
  text-align: center;
  left: 25%;
  right: 25%;
  top: 3%;
}

#title{
	color:#000000;
	text-align: center;
	font-size: 36px;
	vertical-align: middle;
}

#map_title{
	color:#000000;
	text-align: center;
	font-size: 36px;
	vertical-align: middle;
}

#Product_text{
	color:#000000;
	text-align: center;
	font-size: 18px;
	vertical-align: middle;
}

#help_button {
    display: none;
    padding: 0px;
    margin: 2px;
    width: 88px;
    height: 103px;
    position: relative;
    background-color: #0099ff;
    top: 9%;
    border: none;
    border-radius: 8px;
    float: right;
}

#back_button {
    padding: 0px;
    margin: 2px;
    width: 88px;
    height: 103px;
    font-size: 32px;
    font-family: "Inter-Bold", "Inter", sans-serif;
    color: white;
    position: relative;
    border: none;
    border-radius: 8px;
    background-color: #ff8000;
    top: 9%;
    float: right;
}

#visualize_body {
    margin: 2px;
    display: flex;
    flex-direction: row;
    z-index: -1;
}

#visualize_top_left {
    margin: 2px;
    padding: 0px;
    width: 75%;
    position: relative;
    background-color: #2266ff;
    height: 850px;
    z-index: -1;
}

#visualize_bottom_left {
    width: 100%;
    position: absolute;
    background-color: #44CCFF;
    height: 100px;
    float: left;
    z-index: -1;
}
#visualize_bottom_left p{
   margin: 8px;
}

#visual_graph_back {
    margin: 6px;
    width: 99%;
    top: 100px;
    position: absolute;
    background-color: white;
    height: 740px;
    float: left;
    z-index: 0;
}
/*
    Visualization button panel
*/
#visualize_right {
    margin: 2px;
    width: 25%;
    padding: 0px;
    position: relative;
    background-color: #3388FF;
    float: left;
    height: 850px;
    z-index: 0;
}

#visualize_right button {
    margin: 5px;
    margin-left: 8px;
    background-color: #ff8000;
    font-size: 32px;
    font-family: "Inter-Bold", "Inter", sans-serif;
    color: white;
    width: 94%;
    position: relative;
    height: 111px;
    border: none;
}

#visualize_right select {
    margin: 5px;
    margin-left: 8px;
    width: 94%;
    position: relative;
    height: 111px;
    border: none;
}
/*
    if tutorial is active disable back button
    if we finish the tutorial or quit we re-render the page without
    the tutorial html elements.
    if we click the help icon we re-render the page with the
    tutorial html elements.
*/
#tutorial_quit {
    padding: 0px;
    margin: 2px;
    width: 88px;
    height: 103px;
    position: absolute;
    font-size: 32px;
    font-family: "Inter-Bold", "Inter", sans-serif;
    color: white;
    background-color: #ff0000;
    top: -13.3%;
    border: none;
    border-radius: 8px;
    left: 93.46%;
    z-index: -1;
}
#tutorial_body {
   position: absolute;
   display: none;
   top: 132px;
   width: 100%;
   height: 905px;
   z-index: 0;
}
/*
    Tutorial Right Area
*/
#tutorial_back_panel_right {
   display: none;
   background-color: rgba(25,25,25,0.7);
   position: relative;
   float: right;
   width: 100%;
   height: 905px;
}

#info_panel_right {
   margin: 8px;
   background-color: white;
   position: relative;
   float: right;
   width: 50%;
   height: 60%;
}

#info_panel_right p{
   margin: 8px;
   font-family: "Inter-Bold", "Inter", sans-serif;
}
#button_pane_right {
   position: relative;
   margin-left: 12px;
   left: 12px;
   top: 430px;
}

#button_pane_right button{
   width: 64px;
   height: 64px;
}
#button_pane_right progress{
   width: 75%;
}

#back_button_arrow {
    left: 88%;
    top: -4%;
    position: absolute;
}

#help_message_arrow {
    left: 94%;
    top: -4%;
    position: absolute;
}
/*
    Left tutorial area
*/
#tutorial_back_panel_left {
   display: none;
   position: relative;
   background-color: rgba(25,25,25,0.7);
   float: left;
   width: 100%;
   height: 905px;
}
#map {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#info_panel_left {
   background-color: white;
   position: relative;
   margin: 8px;
   float: left;
   width: 50%;
   height: 60%;
}

#info_panel_left p{
   margin: 8px;
   font-family: "Inter-Bold", "Inter", sans-serif;
}

#button_pane_left {
   position: relative;
   margin-left: 12px;
   left: 12px;
   top: 420px;
}
#button_pane_left button{
   width: 64px;
   height: 64px;
}
#figure_arrow {
    left: 25%;
    top: 85%;
    position: absolute;
}

#fig_description_arrow {
    left: 25%;
    top: 45%;
    position: absolute;
}

#make_a_plan_arrow {
    left: 73%;
    top: 4%;
    position: absolute;
}

#top_20_arrow {
    left: 73%;
    top: 18%;
    position: absolute;
}

#emissions_over_time_arrow {
    left: 73%;
    top: 32%;
    position: absolute;
}

#compare_2_countries_arrow {
    left: 73%;
    top: 60%;
    position: absolute;
}

#button_pane_left progress{
   width: 75%;
}

#body{
	margin: 2px;
	padding: 2px;
    display: flex;
    flex-direction: row;
}

#select_country {
    margin: 4px;
    padding: 8px;
    width: 735px;
    height: 55%;
    top: 525px;
    background-color: #3388FF;
    position: absolute;
}
#left_column {
    margin: 4px;
    padding: 8px;
    position: absolute;
    width: 735px;
    height: 385px;
}
#right_column {
    margin: 4px;
    padding: 8px;
    width: 50%;
    height: 800px;
    left: 50%;
    position: absolute;
}

#home_map_back {
    background-color: white;
     margin: 4px;
    padding: 8px;
    width: 97%;
    height: 700px;
    position: absolute;
}
#Graph{
  width: 1376px;
  height: 267px;
  background-color: #44ccff;
  overflow: visible;
}

#Graph_Menu{
  width: 616px;
  height: 965px;
  background-color: #3388ff;
  overflow: visible;
}



