@charset "ISO-8859-1";

body {
    padding: 0px;
    margin: 0px;
}
#banner{
  padding: 0px;
  margin: 0px;
  height: 132px;
  background-color: #99eeff;
  overflow: visible;
}

#banner_text{
  right: 25%;
  left: 25%;
  line-height: 1;
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  overflow: visible;
  font-weight: 700;
  font-family: "Inter-Bold", "Inter", sans-serif;
  color: #545454;
  font-size: 64px;
  text-align: center;
}

#help_button {
    width: 88px;
    height: 103px;
    position: absolute;
    right: 0%;
    left:90%;
}

#back_button {
    width: 32px;
    height: 32px;
    position: absolute;
    right: 0%;
    left: 95%;
}

#body{
	display: flex;
}

/*#Product_Statement*/
 #Column {
  padding: 10px;
  height: 1004px;
  flex: 50%;
}

/*
#Choropleth_Map{
  width: 1053px;
  height: 840px;
  background-color: #33aaff;
  overflow: visible;
}
*/

#Graph{
  width: 1376px;
  height: 267px;
  background-color: #44ccff;
  overflow: visible;
}

#Graph_Menu{
  width: 616px;
  height: 965px;
  background-color: #3388ff;
  overflow: visible;
}



